[Unit]
Description=Run amm-update intermittently
Requires=amm_updater.service

[Timer]
Unit=amm_updater.service
OnUnitInactiveSec=10m
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target
